<div class="grid">
  <div class="col-12" *ngIf="restaurant">
    <p-toast></p-toast>
    <div class="filters"></div>

    <h2>{{ restaurant.name + " - " + restaurant.city }}</h2>

    <div class="employee-detail-container">
      <div class="first-part">
        <div class="custom-card">
          <div class="card-header">Date d'Innoguration</div>
          <div class="card-content">
            <div>
              {{ restaurant.openDate | date : "dd/MM/yyyy" }}
            </div>
          </div>
        </div>
        <div class="custom-card">
          <div class="card-header">Ouverture / Fermeture</div>
          <div class="card-content">
            <div *ngIf="restaurant.operatingHours">
              {{ restaurant.operatingHours }}
            </div>
          </div>
        </div>
        <div class="custom-card">
          <div class="card-header">Note Moyenne</div>
          <div class="card-content">
            <div>
              <span *ngIf="restaurant.rating">{{ restaurant.rating }}</span>
            </div>
          </div>
        </div>
        <div class="custom-card">
          <div class="card-header">Ville</div>
          <div class="card-content">
            <div>
              {{ restaurant.city }}
            </div>
          </div>
        </div>
        <div class="custom-card">
          <div class="card-header">Pays</div>
          <div class="card-content">
            <div>
              {{ restaurant.country }}
            </div>
          </div>
        </div>
      </div>

      <div class="personal-part">
        <div class="custom-card">
          <div class="card-header">Contact</div>
          <div class="card-content">
            <div class="card-part">
              <div class="part-title">Email:</div>
              <div class="part-content">{{ restaurant.email }}</div>
            </div>
            <div class="card-part">
              <div class="part-title">Téléphone</div>
              <div class="part-content">{{ restaurant.phone }}</div>
            </div>
            <div class="card-part">
              <div class="part-title">Disponibilité:</div>
              <div class="part-content" *ngIf="restaurant.enabled">Ouvert</div>
              <div class="part-content" *ngIf="!restaurant.enabled">Fermé</div>
            </div>
          </div>
        </div>
      </div>

      <div class="third-part">
        <div class="custom-card">
          <div class="card-header salary-card">Historique des salaires</div>
          <div class="card-content"></div>
        </div>
        <div class="custom-card">
          <div class="card-header note-card">Notes</div>
          <div class="card-content"></div>
        </div>
        <div class="custom-card-container">
          <div class="custom-card absences-card">
            <div class="card-header">Gestion</div>
            <div class="card-content">
              <div>
                <button>Stock</button>
                <button>Employés</button>
                <button>Clients</button>
              </div>
            </div>
          </div>
          <div class="custom-card">
            <div class="card-header warning-card">Actions</div>
            <div class="card-content">
              <div>
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  (click)="openNew()"
                  class="p-button-rounded light-blue-custom-btn mr-2"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded red-custom-btn"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-dialog
      [(visible)]="restaurantDialog"
      [style]="{ width: '450px' }"
      header="Details de l'employé"
      [modal]="true"
      class="p-fluid"
    >
      <ng-template pTemplate="content">
        <form [formGroup]="restaurantForm" (ngSubmit)="saveRestaurant()">
          <div class="field">
            <label for="name">Nom <span class="requiredStar">*</span></label>
            <input
              type="text"
              pInputText
              id="name"
              formControlName="name"
              required
              autofocus
              [ngModel]="restaurant.name"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  restaurantForm.controls.name.invalid &&
                  (restaurantForm.controls.name.touched ||
                    restaurantForm.controls.name.dirty)
              }"
            />
            <small class="ng-dirty ng-invalid">
              Ce champ est obligatoire.
            </small>
          </div>

          <div class="field">
            <label for="city">Ville <span class="requiredStar">*</span></label>
            <input
              type="text"
              pInputText
              [ngModel]="restaurant.city"
              id="city"
              formControlName="city"
            />
            <small class="ng-dirty ng-invalid">
              Ce champ est obligatoire.
            </small>
          </div>

          <div class="field">
            <label for="adress"
              >Adresse <span class="requiredStar">*</span></label
            >
            <input
              type="text"
              pInputText
              [ngModel]="restaurant.adress"
              id="adress"
              formControlName="adress"
            />
            <small class="ng-dirty ng-invalid">
              Ce champ est obligatoire.
            </small>
          </div>

          <div class="field">
            <label for="postalCode">Code Postal</label>
            <input
              type="text"
              pInputText
              [ngModel]="restaurant.postalCode"
              id="postalCode"
              formControlName="postalCode"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  restaurantForm.controls.postalCode.invalid &&
                  (restaurantForm.controls.postalCode.touched ||
                    restaurantForm.controls.postalCode.dirty)
              }"
            />
            <small
              class="ng-dirty ng-invalid"
              *ngIf="restaurantForm.controls.postalCode.errors?.['invalidPostalCode'] && (restaurantForm.controls.postalCode.touched || restaurantForm.controls.postalCode.dirty)"
            >
              Le code postal doit être un numéro à 5 chiffres.
            </small>
          </div>

          <div class="field">
            <label for="country"
              >Pays <span class="requiredStar">*</span></label
            >
            <p-dropdown
              inputId="country"
              id="country"
              formControlName="country"
              optionLabel="label"
              optionValue="value"
              [options]="countriesList"
              placeholder="Sélectionner un Pays"
            ></p-dropdown>
            <small class="ng-dirty ng-invalid">
              Ce champ est obligatoire.
            </small>
          </div>

          <div class="field">
            <label for="email">Email <span class="requiredStar">*</span></label>
            <input
              type="email"
              pInputText
              id="email"
              formControlName="email"
              autofocus
              [ngClass]="{
                'ng-invalid ng-dirty':
                  restaurantForm.controls.email.invalid &&
                  (restaurantForm.controls.email.touched ||
                    restaurantForm.controls.email.dirty)
              }"
            />
            <small
              class="ng-dirty ng-invalid"
              *ngIf="restaurantForm.controls.email.errors?.['required'] && (restaurantForm.controls.email.touched || restaurantForm.controls.email.dirty)"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="ng-dirty ng-invalid"
              *ngIf="restaurantForm.controls.email.errors?.['email'] && (restaurantForm.controls.email.touched || restaurantForm.controls.email.dirty)"
            >
              L'adresse email n'est pas valide.
            </small>
          </div>

          <div class="field">
            <label for="phone"
              >Téléphone <span class="requiredStar">*</span></label
            >
            <input
              type="text"
              pInputText
              [ngModel]="restaurant.phone"
              id="phone"
              formControlName="phone"
              autofocus
              [ngClass]="{
                'ng-invalid ng-dirty':
                  restaurantForm.controls.phone.invalid &&
                  (restaurantForm.controls.phone.touched ||
                    restaurantForm.controls.phone.dirty)
              }"
            />
            <small
              class="ng-dirty ng-invalid"
              *ngIf="restaurantForm.controls.phone.errors?.['required'] && (restaurantForm.controls.phone.touched || restaurantForm.controls.phone.dirty)"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="ng-dirty ng-invalid"
              *ngIf="restaurantForm.controls.phone.errors?.['pattern'] && (restaurantForm.controls.phone.touched || restaurantForm.controls.phone.dirty)"
            >
              Le numéro de téléphone doit être composé de 10 chiffres.
            </small>
          </div>

          <div class="field">
            <label for="openDate"
              >Date d'Ouverture <span class="requiredStar">*</span></label
            >
            <p-calendar
              [showIcon]="true"
              id="openDate"
              formControlName="openDate"
              inputId="openDate"
              value="restaurant.openDate"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  restaurantForm.controls.openDate.invalid &&
                  (restaurantForm.controls.openDate.touched ||
                    restaurantForm.controls.openDate.dirty)
              }"
            ></p-calendar>
            <small
              class="ng-dirty ng-invalid"
              *ngIf="
                restaurantForm.controls.openDate.invalid &&
                (restaurantForm.controls.openDate.touched ||
                  restaurantForm.controls.openDate.dirty)
              "
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="ng-dirty ng-invalid"
              *ngIf="restaurantForm.controls.openDate.errors?.['invalidDate'] && (restaurantForm.controls.openDate.touched || restaurantForm.controls.openDate.dirty)"
            >
              La date n'est pas valide.
            </small>
          </div>

          <div class="field">
            <label for="operatingHours"
              >Horraire <span class="requiredStar">*</span></label
            >
            <input
              type="text"
              pInputText
              [ngModel]="restaurant.operatingHours"
              id="operatingHours"
              formControlName="operatingHours"
              autofocus
              placeholder="Format : 00h00-00h00"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  restaurantForm.controls.rating.invalid &&
                  (restaurantForm.controls.rating.touched ||
                    restaurantForm.controls.rating.dirty)
              }"
            />
            <small
              class="ng-dirty ng-invalid"
              *ngIf="restaurantForm.controls.rating.errors?.['required'] && (restaurantForm.controls.rating.touched || restaurantForm.controls.rating.dirty)"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="ng-dirty ng-invalid"
              *ngIf="restaurantForm.controls.rating.errors?.['pattern'] && (restaurantForm.controls.rating.touched || restaurantForm.controls.rating.dirty)"
            >
              La moyenne doit être composé de 1 chiffres.
            </small>
          </div>

          <div class="field">
            <label for="rating">Note <span class="requiredStar">*</span></label>
            <input
              type="number"
              pInputText
              [ngModel]="restaurant.rating"
              id="rating"
              formControlName="rating"
              autofocus
              [ngClass]="{
                'ng-invalid ng-dirty':
                  restaurantForm.controls.rating.invalid &&
                  (restaurantForm.controls.rating.touched ||
                    restaurantForm.controls.rating.dirty)
              }"
            />
            <small
              class="ng-dirty ng-invalid"
              *ngIf="restaurantForm.controls.rating.errors?.['required'] && (restaurantForm.controls.rating.touched || restaurantForm.controls.rating.dirty)"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="ng-dirty ng-invalid"
              *ngIf="restaurantForm.controls.rating.errors?.['pattern'] && (restaurantForm.controls.rating.touched || restaurantForm.controls.rating.dirty)"
            >
              La moyenne doit être composé de 1 chiffres.
            </small>
          </div>

          <div class="field">
            <label>Actif</label>
            <div>
              <p-inputSwitch formControlName="enabled"></p-inputSwitch>
            </div>
          </div>
        </form>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancel"
          (click)="closeRestaurant()"
          icon="pi pi-times"
          class="p-button-text"
        ></button>
        <button
          pButton
          pRipple
          type="submit"
          label="Save"
          icon="pi pi-check"
          (click)="saveRestaurant()"
          [disabled]="restaurantForm.invalid"
          class="p-button-text"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
