<div class="setpass_container" *ngIf="!tokenIsValid">
  <div>
    <h3>Veuillez renseigner votre mot de passe</h3>
  </div>
  <form (ngSubmit)="setPassword()">
    <label for="newPassword">Mot de passe</label>
    <input type="password" [(ngModel)]="Password" name="newPassword" placeholder="Nouveau mot de passe" id="newPassword">

    <label for="confirmPass">Confirmer le mot de passe</label>
    <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirmer le mot de passe" id="confirmPass">
    <button type="submit" [disabled]="isLoading" >Envoyer</button>
  </form>
</div>
<div *ngIf="!tokenIsValid">
  <p>Le token est invalide ou a expiré.</p>
</div>
