<div class="grid">
  <div class="col-12">
    <p-toast></p-toast>
    <div class="custom-topbar">
      <div class="topbar-background">
        <div>
          <button (click)="search()" class="light-blue-custom-btn custom-btn-search ml-2" [disabled]="isLoading">Filtrer</button>
        </div>
        <div class="topbar-container">
          <div class="custom-dropdown date-filter">
            <label for="dateFilter">Date</label>
            <p-calendar [showIcon]="true"
                        id="dateFilter"
                        [(ngModel)]="filters.date"
                        inputId="birthdate"
            ></p-calendar>
          </div>
          <div class="custom-dropdown employee-filter">
            <label for="employeeFilter">Employé</label>
            <p-dropdown
              [options]="getEmployeeWithNoneOption()"
              optionLabel="name"
              optionValue="id"
              placeholder="Employé"
              [(ngModel)]="filters.employee"
              id="employeeFilter"
              inputId="employeeFilter">
            </p-dropdown>
          </div>
          <div class="custom-dropdown restaurant-filter">
            <label for="restaurantFilter">Restaurant</label>
            <p-dropdown
              [options]="getRestaurantsWithNoneOption()"
              optionLabel="name"
              optionValue="id"
              placeholder="Restaurant"
              [(ngModel)]="filters.restaurant"
              id="restaurantFilter"
              inputId="restaurantFilter">
            </p-dropdown>
          </div>
        </div>
      </div>
    </div>


    <p-table #dt [value]="absences" [columns]="cols" responsiveLayout="scroll" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple" [rowHover]="true" dataKey="id">
      <ng-template pTemplate="caption">
        <p-toolbar styleClass="mb-4">
          <h5 class="custom-title">Feedbacks</h5>
          <ng-template pTemplate="right">
            <div class="my-2 customBtnGrp">
              <div class="addBtn" (click)="openNew()">
                <span class="addBtnPlus">+</span> <span>Ajouter</span>
              </div>
            </div>
          </ng-template>
        </p-toolbar>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="approved">Justifiée <p-sortIcon field="approved"></p-sortIcon></th>
          <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>
          <th pSortableColumn="startDate">Du <p-sortIcon field="startDate"></p-sortIcon></th>
          <th pSortableColumn="endDate">Au <p-sortIcon field="endDate"></p-sortIcon></th>
          <th pSortableColumn="employee">Employé<p-sortIcon field="employee"></p-sortIcon></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-absence>
        <tr>
          <td style="width:14%; min-width:10rem;">
            <span class="p-column-title">ID</span>
            {{absence.id}}
          </td>
          <td style="width:14%; min-width:10rem;" *ngIf="absence.approved">
            <span class="p-column-title">Justifiée</span>
            Oui
          </td>
          <td style="width:14%; min-width:10rem;" *ngIf="!absence.approved">
            <span class="p-column-title">Justifiée</span>
            Non
          </td>
          <td style="width:14%; min-width:10rem;">
            <span class="p-column-title">type</span>
            {{absence.type}}
          </td>
          <td style="width:14%; min-width:10rem;">
            <span class="p-column-title">Du</span>
            {{absence.startDate | date:'dd/MM/yyyy'  }}
          </td>
          <td style="width:14%; min-width:10rem;">
            <span class="p-column-title">Au</span>
            {{absence.endDate | date:'dd/MM/yyyy'  }}
          </td>
          <td style="width:14%; min-width:10rem;">
            <span class="p-column-title">Employé</span>
            {{absence.employee.name}} {{absence.employee.firstname}}
          </td>
          <td>
            <div class="flex">
              <button pButton pRipple icon="pi pi-ellipsis-h" class="p-button-rounded light-blue-custom-btn mr-2" (click)="openDetail(absence)"></button>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded light-blue-custom-btn mr-2" (click)="openEdit(absence)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded red-custom-btn" (click)="deleteAbsence(absence)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <app-absence-dialog [absence]="absence" (saveSuccess)="loadAbsences()"></app-absence-dialog>
    <app-absence-detail [absence]="absence"></app-absence-detail>

    <p-dialog [(visible)]="deleteAbsenceDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="absence">Êtes vous sûr de vouloir supprimer l'absence <b>{{absence.id}}</b> de <b>{{absence.id}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteAbsenceDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" [disabled]="isDeleting" (click)="confirmDelete(absence)"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
