//scrollbar
::-webkit-scrollbar {
  width: 12px;
  background-color: #2c2c2c;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #24a6e4;
  border: 2px solid #2c2c2c;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #2c2c2c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}
.custom-title {
  color: var(--text-color-secondary);
}

//form
.requiredStar,
.field > small {
  color: red;
}

//detail modale
.custom-modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .detail-attribut {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

//header
.layout-topbar {
  padding: 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 40%;
    }
  }
}

//topbar
.layout-main-container {
  position: relative;
}
.custom-topbar {
  height: 5rem;
  margin-bottom: 2rem;
  .topbar-background {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 7rem;
    padding: 0.5rem;
    right: 0;
    height: 5.5rem;
    min-width: 60%;
    background-color: var(--surface-overlay);
  }
}

//custom dropdown

.custom-topbar .topbar-background .topbar-container {
  align-items: center;
  height: 100%;
  justify-content: end;
  display: flex;
  gap: 3rem;
}

.custom-dropdown-selected {
  display: flex;
  flex-direction: column;
  background-color: #24a6e4;
  padding: 0.5rem;
  border-radius: 5px;
  gap: 0.2rem;
  outline: none;
  transition: all 0.6s;
  width: 25%;
  height: 90%;
  label {
    color: #000;
    font-weight: 700;
  }
}

.p-dropdown-items-wrapper {
  overflow: unset;
  border-radius: 5px;
}
.custom-dropdown-not-selected {
  display: flex;
  align-items: center;
  background-color: #272727;
  padding: 0.5rem;
  gap: 0.5rem;
}

.p-dropdown.p-component {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
}

.p-dropdown-filter {
  width: 100%;
  color: #000;
}

span#pn_id_2_label {
  font-weight: 500;
}

//sidebar

app-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.enabled-filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

p-dropdown.p-element.p-inputwrapper.p-inputwrapper-filled.ng-star-inserted.ng-valid.ng-touched.ng-dirty {
  color: #000;
}

#lm-sidebar-redirect {
  display: flex;
  justify-content: center;
  color: grey;
  transition: color 0.3s;
}
#lm-sidebar-redirect:hover {
  transition: color 0.3s;
  color: #00a0b4;
}
.layout-sidebar {
  padding: 3rem 0;
}
.layout-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .layout-menuitem-root-text {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 1rem 0.3rem 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
    }
    &:not(.selected-menuitem):hover {
      background-color: var(--primary-dark-blue);
      //color: black;
    }
  }
  .selected-menuitem {
    background-color: var(--primary-light-blue);
    color: black;
  }
  ul {
    padding: 0.7rem 1rem;
    &.selected-menuitem-list {
      background-color: var(--primary-dark-blue);
    }
    a {
      color: white;
      padding: 0.2rem 1rem;
      margin-bottom: 0.5rem;
      &.active-route,
      &:hover {
        background-color: var(--primary-light-blue);
        color: black;
      }
    }
  }
}

//detail base
.detail-header {
  margin-bottom: 2rem;
  & > div {
    display: flex;
    gap: 1rem;
  }
}

//base css cards
.custom-card {
  display: inline-block;
  background-color: var(--surface-card);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  .card-header {
    background-color: var(--surface-toolbar);
    color: var(--text-color-secondary);
    padding: 10px;
    font-weight: bold;
  }
  .card-content {
    padding: 20px;
  }
  .card-part {
    border-radius: 3px;
    padding: 0.5rem;
    background-color: var(--primary-dark-blue);
  }
}

//crud base
.customBtnGrp {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}

.input-search {
  position: relative;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: none;

  i.pi-search {
    width: 120%;
    height: 120%;
    margin-left: 1rem;
    color: var(--text-color-secondary);
  }

  input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
  }
}
.underline-search {
  background-color: var(--primary-light-blue);
  width: 100%;
  height: 3px;
  border-radius: 1px;
}

.addBtn {
  gap: 0.3rem;
  padding: 0.2rem;
  color: var(--text-color-secondary);
  transition: all 0.2s ease;
  position: relative;
  cursor: pointer;
  .addBtnPlus {
    margin-right: 0.3rem;
    font-weight: bold;
    font-size: 1.3rem;
    align-self: center;
  }
  &:hover {
    font-weight: bold;
  }
  &:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: var(--text-color-secondary);
    animation: underlineSlide 0.5s forwards;
  }
}
@keyframes underlineSlide {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.p-toolbar {
  background-color: var(--surface-toolbar);
}
.p-datatable {
  background-color: var(--surface-card);
  .p-datatable-thead > tr > th {
    background-color: var(--surface-card);
    color: var(--text-color);
  }
  .p-datatable-tbody > tr {
    background-color: var(--surface-card);
    color: var(--text-color);
  }
  .p-paginator {
    background-color: var(--surface-card);
    color: var(--text-color) !important;
    .p-paginator-pages .p-paginator-page.p-highlight {
      background-color: var(--primary-light-blue);
      color: var(--text-color-secondary);
    }
    .p-paginator-current {
      color: var(--text-color);
    }
    .p-paginator-pages .p-paginator-page {
      color: var(--text-color);
      &:hover {
        color: var(--text-color-secondary);
        background-color: var(--primary-light-blue);
      }
    }
    .p-paginator-first,
    .p-paginator-prev,
    .p-paginator-next,
    .p-paginator-last {
      color: var(--text-color);
      &:hover {
        color: var(--text-color-secondary);
        background-color: var(--primary-light-blue);
      }
    }
  }
}
.p-datatable-header {
  padding: 0;
}
.mb-4 {
  margin-bottom: 0 !important;
}
.filters {
  background-color: var(--surface-toolbar);
}
.light-blue-custom-btn {
  color: var(--text-color-secondary);
  background-color: var(--primary-light-blue);
  border: none;
  &:hover {
    background-color: var(--secondary-light-blue);
  }
}

button.custom-btn-search {
  padding: 0.7rem 1rem;
  border-radius: 8px;
  border: 1px solid var(--secondary-light-blue);
  box-shadow: 0 10px 13px -7px #000000,
    20px 16px 27px -13px rgba(32, 95, 122, 0.18);
  transition: 0.5s all ease;
  &:hover {
    box-shadow: initial;
    cursor: pointer;
  }
}

.red-custom-btn {
  color: var(--text-color-secondary);
  background-color: var(--primary-red);
  border: none;
  &:hover {
    background-color: var(--secondary-red);
  }
}
